*{
    box-sizing: border-box;
}

header h1{
    font-weight: 700;
    font-size: 41px;
    width: 50%;
}


.fuente1, .fuente2{
    display: inline;
    color: rgb(62, 145, 148);
    letter-spacing: 3px;
}

.fuente1 {
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
 
}

.fuente2 {
    font-family: 'Coiny', cursive;
    font-size: 100px;
}

body{
    background-color: antiquewhite;
    color: #333;
    font: 400;
    font-size: 24;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

nav h3{
    margin-right: auto;
}

a:hover, a:visited{
    color:blueviolet;
    text-decoration: underline;
    text-transform: capitalize;
    padding: 10px;
}

aside#iconos img{
    width: 30px;
    height: auto;
}

aside#iconos div{
    display: inline;
}

p{
   color:rgba(0, 0, 0, 0.87);
   font-size: 20px;
   font-weight: 400;
}

h1, h2, h3, h4{
    color: rgba(196, 73, 24, 0.836);
}

h4{
    font-size: 41px;
    color: white;
    background-color: black;
    line-height: 80px;
    padding: 10px;
    display: inline-block;
}

h3{
    font-size: 26px;
}

h2{
    font-weight: none;
}

section#parrafowwwapas{
    overflow: hidden;
    padding-bottom: 60px;
}

section#pwtexto{
    text-align: left;
    width: 45%;
    float: left;
}

.pwfoto{
    float:right;
    width: 30%;
    margin-right: 8%;
}

section#parrafosjuntos{
    overflow: hidden; 
}

section#parrafosjuntos h3{
    background-color: rgb(250, 210, 150);
    font-size: 20px;
}

section#parrafoizq {
    width: 45%;
    float: left;
    text-align: left;  
}

section#parrafoder {
    width: 45%;
    float: right;
    text-align: left;
}

section#servicios{
    text-align: right;
    margin-right: 0;
    margin-left: auto;
    width: 45%;
    text-align: left;
}

ol{
    font-size: 20px;
    font-weight: 400;
    list-style-position: inside;
}

div#listaservicios{
    list-style-position: inside;
}

footer, main, header, aside {
    width: 100%;
}

footer{
    color: #7A7A7A;
    text-decoration: none;
    height: 120px;
    padding: 1px;
    background-color: #fced213a;
}

footer h1{
    font-size: 33px;
}

footer h1, footer nav{
    margin-left: 20px;
}

/* Espacio para PHP
*/


label{
    display: block;
    /* margin-top: 10px; */
    margin-bottom: 20px;
}

span{
    color: rgba(255, 78, 78, 0.813);
}

input{
    height: 40px;
}

textarea{
    resize: none;
    height: 100px;
}

button{
    height: 40px;
}

input, textarea, button{
    width: 40%;
}

form{
    margin: auto;
    padding-bottom: 20px;
}

div{
    /* display:flex */
}

@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
